# Default ignored files
/shelf/
/workspace.xml
/modules/core/designsystem/iva.core.designsystem.iml
/modules/feature/intro/iva.feature.intro.iml
/gradle.xml
/kotlinc.xml
/modules/core/ui/sweetiva.core.ui.iml
/modules/feature/intro/sweetiva.feature.intro.iml
